.well
   a(href='{{postUrl}}')
     img(src='{{thumbnail}}', alt='{{alt}}')
   a(href='{{postUrl}}')
     span.blog-title(ng-bind-html="title | toTrusted")
   p.blog-preview(ng-bind-html="preview | toTrusted")
   a(href='{{postUrl}}').read-moreUrl.full-article-link
    p.readmore(href='{{postUrl}}') Read more >
     .page-divide.end-post.col-md-12
     .col-md-12.author-container
       img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
       .blog-author By {{blogger}}
          .position(ng-if='position !== null') {{position}}
          .big-divide
