section.row.no-padding.culture.job-posting()
  article.col-md-8.job-column
    ul.breadcrumbs
      li.breadcrumb.bc-job(ui-sref="careers") Careers &nbsp; >
      //- li.breadcrumb-current(ng-bind='data.departments["0"].name', ng-hide="genericApplication")
      li.dept(ng-hide="genericApplication")
      li.breadcrumb-current(ng-bind="data.title")
    .job-title(ng-bind="data.title")
    .job-wrapper(ui-view autoscroll)
      .job-content(ng-bind-html="renderHtml(data.content)")
      hr.secondHr
      .candidate-privacy See Our Candidate Privacy Statement
        .eoe Phenomenon is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity, pregnancy, Veteran status, genetic information, and/or any other protected characteristic recognized by federal, state or local laws. This policy applies to all terms and conditions of employment, including, without limitation, recruiting, hiring, placement, promotion, termination, layoffs, leaves of absence, compensation and training.
      a.apply-now(ui-sref="job.application") Apply Now
  article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-2(ng-hide="genericApplication")
    .job-dep Department
    .job-category(ng-bind='data.departments["0"].name')
    br
    br
    .location-job Location
    .job-location Los Angeles
    hr
    //- img( class='share-icon' src=require('assets/images/share-128.png'))
    //- span.job-location.job-share Share
    //- .department-quote "I've never worked with such thoughtful, inspiring designers. We push each other to look at things differently, to break molds and create new design schemas&mdash;whether we're working on posters, branding, product design or print. It's a new standard that Pheno has set, and I do believe this is the best design group in the world."
    //- .job-author &mdash; Junior Designer
