section.row.no-padding.culture.job-posting
article.col-md-12.job-column
  article.col-md-5.applicant-info-container
    .applicant-name Evren Artiran
    .applicant-email evrenart@gmail.com
    .applicant-contact (123) 456 7890
  article.col-md-5.applicant-contact-container
    .applicant-location Venice CA, 90291
article.col-md-12.employment-container
  .employment Employment
  article.col-md-2.col-xs-4.applicant-timeline
    p 2010 - pres
    p 2010 - pres
    p 2010 - pres
    p 2010 - pres
  .col-md-8.col-sm-4.col-xs-8.applicant-job-desc
    .applicant-company evrendesign.com
    .applicant-job-title Freelance Lead / Sr UX Designer
    .applicant-company evrendesign.com
    .applicant-job-title Freelance Lead / Sr UX Designer
    .applicant-company evrendesign.com
    .applicant-job-title Freelance Lead / Sr UX Designer
    .applicant-company evrendesign.com
    .applicant-job-title Freelance Lead / Sr UX Designer
