block variables
	- copy = require('app/copy.js')

nav.nav
	ul
		each navItem in copy.navigation
			li( ng-class="{ selected: isSelected('#{navItem.uiSref}') }", class=navItem.className, ui-sref-active='selected')
				a.hvr-underline-from-center(ui-sref=navItem.uiSref, title=navItem.title, ng-click="toggleDrawer()")= navItem.navTitle
