scrollable-component.scrollable-component.component.section.row.no-padding
	section.image-component.component.row.no-padding
		.browser-bar
			//img(src=require("assets/images/browser-iso_bar.png"))
		img.longImg(src="{{imgUrl}}")