article.col-md-12.blog-column
  ul
    li
      a(href='{{postUrl}}')
        img.search-thumb(src='{{thumbnail}}', alt='{{alt}}')
      a(href='{{postUrl}}')
        span.blog-title.search-title(ng-bind-html="title | toTrusted")
      p.blog-preview.search-preview(ng-bind-html="preview | toTrusted")
      a(href='{{postUrl}}').read-moreUrl.full-article-link.search-read-more Read more >
        .page-divide.end-post.col-md-12
      .big-divide
