block variables
	- copy = require('app/copy.js')

ul.footer-social-icons
	each socialItem in copy.footer.social
		li.social-icon
			a(href=socialItem.url, title=socialItem.title, class=socialItem.className, target="_blank")