.component.row.no-padding
	.col-xs-12.no-padding.js-video.vimeo.widescreen
		//.video-thumb
			img(src="{{thumb}}", alt="{{alt}}", title="{{title}}")

		iframe.embed-player(src="{{vimeoUrl}}",frameborder="0",
		webkitallowfullscreen,mozallowfullscreen,allowfullscreen)