ul
	each navItem in copy.navigation
		li(ng-class="{ selected: isSelected('#{navItem.uiSref}') }", class=navItem.className)
			a.hvr-underline-from-center(href='/#/#{navItem.uiSref}', title=navItem.title)= navItem.navTitle
section.social
	include social-icons
