// main content custom styles
main, .maincontent {
  background-color:#FFF;
  max-width: $body_size;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: block;
  padding: 0 150px;
  .main-wrapper{
    height: 100%;
    display: block;
  }
.section{
    padding: ($base_spacing/4) 0;
    display: block;
  	&:first-child{
  		padding-top: 0;
  	}
  }
}

.details{
	h2, p{
		margin: 0 0 ($base_spacing/2);
		padding: 0; 
	}
}

video-component {

  .js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  .js-video.widescreen {
    padding-bottom: 56.34%;
  }
  .js-video.vimeo {
    padding-top: 0;
  }

  .js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

}

.carousel-component{

}

main, .maincontent{
  .image-component{
    padding-bottom: $base_spacing;
  }
}

.scrollable-component{

  .scroll-wrapper{
    position: relative;
    overflow: hidden;
    height: 668px;
    @include viewport-height(90vh);
    width: 100%;
    @include box-shadow(0, 0, 26px, -5px, rgba(48,48,48,0.5));
  }

  .scroll-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 61px;
    background-image: url("/images/landingpage-header.jpg");
    background-repeat: no-repeat;
    z-index: 2;
  }

  .scroll-image{
    overflow-y: hidden;
    right: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &.scroll-active{
    .scroll-image{
      overflow-y: scroll;
      right: -17px;
    }
  }
}


//specificity fix
.maincontent .details{
	padding-left: ($base_spacing);
	padding-right: ($base_spacing);
}


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_content.scss