// Setup Default variables

//spacing
$base_spacing: 60px;

//sizes
$body_size: 1440px;

$h1_size: 36px; //41.25px;
$h2_size: 32px;
$h3_size: 40px;
$h4_size: 24px;
$p_size: 16px;

//colors
$primary_color: #D0021B;
$logo_color: #CC2127;
$gray_color: #979797;
$light_gray_color: #F2F2F2;
$gray_border_color: #CCC;
$gray_welcome_color: #666;
$gray_welcome_arrow_color: #A6A6A6;
$black_font: #000;
$gray_font: #333;

//fonts
$primary_font: 'Circular-Book', Helvetica, Arial, Sans-Serif;
$secondary_font: 'Tiempose-Semibold', 'Times New Roman', serif;
$monospace_font: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$bold_font: 'circular-bold', Helvetica, Arial, Sans-Serif;

$fix_header_height: 120px;




// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_defaults.scss
