// web fonts

@font-face {
  font-family: 'Tiempose-Semibold';
  src: url('../assets/fonts/tiempos/tiempos-headline-web-semibold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/tiempos/tiempos-headline-web-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/tiempos/tiempos-headline-web-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/tiempos/tiempos-headline-web-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       // url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       // url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Circular-Book";
    src:url("../assets/fonts/circular/lineto-circular-book.eot");
    src:url("../assets/fonts/circular/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/circular/lineto-circular-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Bold";
    src:url("../assets/fonts/circular/lineto-circular-bold.eot");
    src:url("../assets/fonts/circular/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/circular/lineto-circular-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'TiemposHeadline-Regular';
    src:url("../assets/fonts/tiempos/TiemposHeadline-Regular.eot");
    src:url("../assets/fonts/tiempos/TiemposHeadline-Regular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/tiempos/TiemposHeadline-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
//icon fonts
@font-face {
    font-family: 'icomoon';
    src:    url('../assets/fonts/icomoon/icomoon.eot?n1cqbv');
    src:    url('../assets/fonts/icomoon/icomoon.eot?n1cqbv#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon/icomoon.ttf?n1cqbv') format('truetype'),
        url('../assets/fonts/icomoon/icomoon.woff?n1cqbv') format('woff'),
        url('../assets/fonts/icomoon/icomoon.svg?n1cqbv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        content: "";
    }
}

.extend-icon:before{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-dot:before {
    content: "\e907";

}
.icon-mail:before {
    content: "\e909";
}
.icon-share:before {
    content: "\e908";
}
.icon-error:before {
    content: "\e905";
}
.icon-left-arrow:before {
    content: "\e903";
}
.icon-play-arrow:before {
    content: "\e904";
}
.icon-right-arrow:before {
    content: "\e902";
    position: relative;
    //left: 0;

}
.icon-linkedin:before {
    content: "\e900";
}
.icon-instagram:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-twitter:before {
    content: "\e906"
}
