// footer custom styles

footer, .footer{
	width: 100%;
	max-width: $body_size;
	margin: 0 auto;
	background-color: #FFF;
	.footer-wrapper{
		//margin: 0 ($base_spacing/2);
        margin: 0 ($base_spacing/4);
		padding: ($base_spacing/2) 0;
		border-top: 1px solid $gray_border_color;
		@media screen and (max-width: 640px) {
			margin: 0 ($base_spacing/2);		
		}
	}

	h1{
		font-size: 26px;
		margin: 0 0 ($base_spacing/2);

		 sub{
	        font-size: 10px;
	      }
	}

	img.logo{
      margin: 10px 0 20px;
      max-width: 160px;
      padding-right: 10px;

    }

	h4{
		margin: 10px 0;
		font-family: $monospace_font;
		font-size: 16px;
		color: black;
    	font-weight: 900;
	}

	address, a{
		margin: 0;
		color: $gray_font;
		font-size: 15px;
	}
	.social {
		padding: 0;
		li {
			margin-right: 0;
		}
	}
	.social a{
		color: #333;
		font-size: $h4_size;
	}

	a:hover{
		color: $primary_color;
		border-color: $primary_color;
	}

	.office{
		margin-bottom: ($base_spacing/2);
		@media screen and (max-width: 768px) {
			padding-left: 0;
		}
	}
}