// navigation styles

/* .mobile.opend .topnav {
  @media screen and (max-width: 640px) {
    left: 80%;
  }
}
 */
.mobile.opend {
  .topnav {
    position: relative!important;
  }
}
.topnav {
    display: block;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    position: relative;
    min-height: 70px;
    position: fixed;
    @media screen and (max-width: 667px) {
      min-height: 50px;
      position: fixed;
      z-index: 99999;
    }
    &.fixed {
      position: fixed;
      background-color: rgba(255,255,255,.95);
      z-index: 99999;
      top: -$fix_header_height;
      animation: ttt 0.4s forwards ease-in-out;
      .logo-wrapper {
        float: left;
        margin-right: $base_spacing - 20;
        ~ .tabs {
          // margin: 0;
          // padding: 0;
          // padding-left: 200px;
          li {
            a {
              padding: 5px 0 20px 0;
            }
          }
        }
      }
    }
    .logo-wrapper{
      height: 40px;
      width: 160px;
      position: relative;
      z-index: 10;
      img {
        //transition: all 0.3s;
      }
    }

    .nav-wrapper{
      width: 100%;
      max-width: $body_size;
      padding: 30px 120px 0 150px;
      margin: 0 auto;
      position: relative;
      /* top: -120px;
      opacity: 0;
      animation: test 0.2s forwards ease-out;
      animation-delay: 1.7s; */
    }

    h1 {
      margin: 0;
      line-height: 50px;
      /*padding: 0 20px;*/
      text-align: center;


      a {
        color: $logo_color;
        &:hover{
          color: $logo_color;
        }
      }

      .title {
        color: #000;
      }

      sub{
        bottom: 0;
        font-size: 12px;
      }
  }

  .tabs {
    margin: 0 -20px 0;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    width: 103.9%;

    ul{
      margin: 0;
      margin-left: -17px;
      position: relative;
    }

    li {
      display: inline-block;
      font-size: 15px;
      line-height: 1;
      text-align: center;
      padding: 0;
      position: relative;
      margin: 0 34px;
      //width: 135.5px;

      &.selected {
        a:before{
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          border-bottom: 2px solid $primary_color;
        }
      }

      &:first-child{
        margin-left: 30px;
        &.selected:before{
          left: 0;
          margin-left: 0;
        }
      }
      &:last-child{
        margin-right: 0;
      }

      a{
        padding: 20px 5px 15px 5px;
        width: 100%;
        display: block;
        font-family: "Circular-Bold";
        color: $gray_font;
      }

      &.contact{
        position: absolute;
        right: 20px;
        padding: 0;
      }
    }
  }
}


.filterbutton {
    display:none;
}

.contact-drawer {
    padding-left:100px;
}

snap-content, .snap-content{
  /* margin-top: 140px; */
  background-color: #fff;
  /*overflow: initial;*/
  display: block;
}

.drawer-menu {
  display:block;
  position:relative;
  padding: 0;
  color: #FFF;



  .contact{
    font-size: 20px;

    a{
      font-weight: bold;
      color: $gray_welcome_color;

      @extend .extend-icon;
      @extend .icon-right-arrow;

      &:before{
        padding-right:14px;
        font-weight: normal;
        color: $gray_welcome_arrow_color;
        @include transition(color .15s ease-in-out);
      }

      &:hover{
        color: $primary_color;
        &:before{
          color: $primary_color;
        }
      }
    }
  }
  nav, .nav{
    ul{
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 24px;
      li{
        margin: 45px 0;
        padding:0;

        &.selected a{
          color: $primary_color;
        }
      }
    }
  }


  .social{
    text-align: center;
  }

  .menu-btn {
    margin-top:10px;
    button {
      width:100%;
    }
  }
}


#hamburger {
  width: 32px;
  height: 30px;
  position: absolute;
  float:left;
  cursor: pointer;
  z-index:20;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  span {
    display: block;
    position: fixed;
    height: 3px;
    width: 100%;
    background: $primary_color;
    border-radius: 2px;
    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

    &:nth-child(1) {
      top: 0; //7.5px;
    }
    &:nth-child(2) {
      top: 9px; //20.5px;
    }
    &:nth-child(3) {
      top: 18px; //px;
    }
  }

  &.open span{
    /*background: #d3531a;*/
    &:nth-child(1) {
      top:13px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 13px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  //overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $primary_color;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
main.maincontent {
  @media screen and (max-width: 667px) {
    padding-top: 70px;
  }
}
@keyframes test {
  0% {
    top: -120px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes ttt {
  0% {
    top: -$fix_header_height;
  }
  100% {
    top: 0;
  }
}



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_nav.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_nav.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_nav.scss
