// Setup simple stylguide rules

h1, .h1, h2, .h2{
	font-size: $h2_size;
	color: $gray_font;
	font-family: $secondary_font;
}

h3, .h3{
	font-size: $h3_size;
	color: $gray_font;
}
h4, .h4{
	font-size: $h4_size;
	color: $gray_font;
}

p, .p{
	color: $gray_font;
	font-size: $p_size;
}

a, .a, .link{
	color: $gray_color; 
	cursor: pointer;
	text-decoration: none;
	outline: none;
	@include transition(color .1s ease-in-out);
	&:link{
		text-decoration: none;
	}

	&:visited {
    	//color: $gray_font;
    	text-decoration: none;
    }
    &:hover {
    	color: $primary_color;
    	text-decoration: none; 
    }
    &:active {
    	color: $gray_font;
    	text-decoration: none;
    }
    &:focus {
    	outline: none;
    }
}

img{
	display: block;
	width: 100%;
}

.no-padding{
	padding: 0;
	margin: 0;
}

.no-h-padding {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.no-v-padding {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.hidden{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

input, label{
	border: none;
	outline: none;
	font-size: $h4_size;
	@include border-radius(0);
}

label{
	color: $primary_color;
}

input[type="text"], input[type="email"]{
	color: $gray_font;
	background-color: #FFF;
	height: 55px;
	width: 100%;
	line-height: 60px;
	border-bottom: 2px solid #3a3838;
	padding: 0;
	@include transition(border-color .15s ease-in-out);

	&:focus{
		border-color: $primary_color;
	}
}

button, input[type="submit"], input[type="reset"]{
	    height: 92px;
    font-size: 26px;
    line-height: 1;
    background-color: #F2F2F2;
    padding: 20px 20px;
    color: #333;
    text-align: center;
    max-width: 339px;
    width: 100%;
    /* border: 2px solid #dcdada; */
    outline: none;
    font-weight: bold;
    -moz-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	&:hover{
		background-color: #f2f2f2;;
		color: inherit;
		border: 2px solid #ffffff;
	}

/* 	&:focus{
		background-color: transparent;
		color: #FFF;
		border: 2px solid #ffffff;
	} */
}

input[type="file"]{

	+ label{
		color: $gray_font;
		cursor: pointer;
		@include transition(color .15s ease-in-out);

		&:hover{
			color: $primary_color;
		}
	}

	&:focus{
		+ label{
			color: $primary_color;
		}
	}
}

ul li {
	list-style: none;
}
::-webkit-input-placeholder {
   color: $gray_font;
   font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
   color: $gray_font; 
   font-weight: bold; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $gray_font;  
   font-weight: bold;
}
:-ms-input-placeholder {  
   color: $gray_font;  
   font-weight: bold;
}


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/_styleguide.scss