//colors
$black: black;
$white: white;
$color_suva_gray_approx: #868484;
$color_cardinal_approx: #cc1e2d;
$color_celeste_approx: #ccc;
$color_monza_approx: #d0021b;
$color_mine_shaft_approx: #333333;
$black_25: rgba(0, 0, 0, 0.25);
//urls
$pheno-p: url("/assets/images/blog/pheno-p.png"); ///////////////// DESIGN ELEMENTS NOT IN USE ///////////////////
 // @media(max-width: 664px) {ul.blog-action-list {display: flex;margin-top: 50px;margin-left: 100px;padding-right: 20px;align-items: center;justify-content: space-around;}}
 // @media(max-width: 664px) {li.action-text {margin-left: -50px;font-size: 16px;}}
 // @media all and (min-width :400px) and (max-width :668px){.bubble-search{z-index:2;position:absolute;width:185px;height:58px;margin-top:58px!important;margin-left:-3.1pc!important;padding:20px 10px;border:1px solid;border-radius:3px;background:0 0}}@media all and (min-width :400px) and (max-width :668px){.bubble-search{z-index:2;position:absolute;width:185px;height:58px;margin-top:58px!important;margin-left:-3.1pc!important;padding:20px; 10px;border:1px;solid;border-radius:3px;background:0 0}}ul.blog-action-list{display:flex;margin-top:50px;margin-left:100px;padding-right:20px;align-items:center;justify-content:space-around}@media only screen and (min-device-width :374px) and (max-device-width :470px) and (-webkit-min-device-pixel-ratio :2){ul.blog-action-list{display:flex;margin-top:40px!important;margin-right:-20px;margin-left:-30px!important;align-items:center;justify-content:space-around}}@media only screen and (min-device-width :320px) and (max-device-width :480px) and   (-webkit-min-device-pixel-ratio :2){ul.blog-action-list{display:flex;margin-top:40px;margin-right:-20px;margin-left:30px;align-items:center;justify-content:space-around}}.action-text{margin-left:-50px;font-size:16px}@media(min-device-width:412px)and(max-device-width :460px)and(-webkit-min-device-pixel-ratio:2){ul.blog-action-list{display:flex;margin-top:40px;margin-right:-20px;margin-left:30px;align-items:center;justify-content:space-around}}
 // @media all and (min-width : 400px) and (max-width : 668px) {.bubble-search {z-index: 2;position: absolute;width: 185px;height: 58px;margin-top: 58px !important;margin-left: -3.1pc !important;padding: 20px 10px;border: $black_25 solid 1px;border-radius: 3px;background: $white;}}
 // @media all and (min-width : 401px) and (max-width : 640px) {ul.blog-action-list {display: flex;margin-top: 67px !important;margin-left: 100px !important;align-items: center;justify-content: space-around;}}
 // @media all and (min-width : 400px) and (max-width : 668px) {li.action-text {margin-left: -67px;&.search {padding-right: 5px;}}ul.blog-action-list {display: flex;margin-top: 92px !important;margin-right: 15px;margin-left: -39px !important;align-items: center;justify-content: space-around;}}
 // @media(min-device-width: 412px) and (max-device-width : 460px) and (-webkit-min-device-pixel-ratio : 2) {ul.blog-action-list {display: flex;margin-top: 40px;margin-right: -20px;margin-left: 30px;align-items: center;justify-content: space-around;}}
 // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2) {ul.blog-action-list {display: flex;margin-top: 40px;margin-right: -20px;margin-left: 30px;align-items: center;justify-content: space-around;}}
 // @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {ul.blog-action-list {display: flex;margin-top: 40px !important;margin-right: -20px;margin-left: -30px !important;align-items: center;justify-content: space-around;}}
 // @media all and (min-width : 400px) and (max-width : 668px) {i.action-text {margin-left: -67px;&.search {padding-right: 5px;}}}
 // @media all and (max-width : 768px) {.see-more {position: relative;width: 32% !important;height: 70px;margin: 0 auto;padding: 20px;color: $black;background: $color_black_haze_approx;text-align: center;align-items: center;font-size: 16px;font-weight: bold;justify-content: center;}
 // ======= BLOG HEADER STYLE =======
.blog-header-container {
    margin-top: 170px;
    @media (max-width:640px) {
        margin-top: 40px;
    }

    p {
        &.now {
            margin-top: -6px;
            margin-left: 92px;
            font-size: 14px;
            @media screen and (min-device-width:400px) and (max-device-width:414px) {
                margin-left: 72px !important;
            }
            @media only screen and (min-device-width : 400px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
/*                 margin-top: -39px !important;
                margin-left: 95px !important; */
            }
            @media only screen and (min-device-width : 374px) and (max-device-width : 399px) and (-webkit-min-device-pixel-ratio : 2) {
                margin-top: -39px !important;
                margin-left: 109px !important;
            }
        }
    }

    .phno-now {
        margin-top: 20px !important;
        margin-left: -20px !important;
        font-family: $primary_font;
        font-size: 65px;
        float: left;
        font-weight: 800;
        padding-right: 20px;
        @media all and (max-width : 768px) {
            margin-top: 25px;
            margin-left: -15px;
            padding-right: 30px;
            font-family: $primary_font;
            font-size: 60px;
        }
        @media (max-width: 664px) {
            margin-top: 25px;
            margin-left: -15px;
            font-family: $primary_font;
            font-weight: 800;
        }
        @media (min-width:400px) and (max-width: 414px) {
            font-size: 40px;
            margin-top: 38px !important;
        }
        @media screen and (max-width : 375px) {
            margin-top: 10px !important;
            margin-left: -15px !important;
            padding-right: 5px;
            font-family: $primary_font;
            font-size: 50px !important;
        }
    }

    .contact-section {
        float: right;
        @media (min-width:768px) and (max-width:833px) {
            float: left;
        }
        @media (max-width:881px) {
            width: 344px;
            margin-top: -5px;
        }
        @media (min-width:881px) {
            width: 302px;
        }
    }

    article {
        &.blog-no-padding {
            margin-left: 25px;
            padding: 0 !important;
            display: inline-block;
            position: relative;
            margin-top: 0;
        }
    }
}

.blog-author {
    margin-top: 15px;
    color: $black;
    font-family: $bold_font;
    font-size: 18px;
    position: relative;
    width: 100%;
    font-size: 20px;
    padding-bottom: 50px;
    @media all and (max-width : 414px) and (min-width:400px) {
        padding-top: 0;
        margin-top: 10px;
        color: $black;
        font-family: $bold_font;
        font-size: 18px;
    }
}

.blog-author.blog-post-author {
    margin-top: 15px;
    color: $black;
    font-family: $bold_font;
    font-size: 18px;
    position: relative;
    width: 100%;
    font-size: 20px;
    padding-bottom: 50px;
    @media all and (max-width : 414px) and (min-width:400px) {
        padding-top: 10px;
        margin-top: 10px;
        color: $black;
        font-family: $bold_font;
        font-size: 18px;
    }
}
//====== SINGLE POST STYLE ======= //

.blog-post-container {
    .headline-container {
        @media (max-width: 640px) {
            margin-left: 15px;
        }
    }

    .date {
        margin-left: 10px;
        margin-top: 130px;
        display: flex;
        margin-bottom: 15px;
        color: $color_suva_gray_approx;
        @media all and (max-width : 640px) {
            padding-left: 20px;
        }
        @media all and (min-width : 376px) and (max-width:414px) {
            padding-left: 10px;
        }
        @media(max-width: 664px) {
            display: flex;
            margin-top: 25px;
            margin-bottom: 15px;
        }
        @media all and (max-width : 400px) {
            display: flex;
            margin-top: 25px;
            margin-bottom: 15px;
            padding-left: 10px;
        }
    }

    .blog-content {
        margin-top: 40px;
        @media (max-width:414px) {
            margin-left: 25px;
            padding-right: 40px;
        }
        @media all and (max-width : 400px) {
            margin-top: 40px;
            padding-right: 15px;
            padding-left: 15px;
        }
        @media all and (max-width : 640px) {
            margin-top: 40px;
            padding-right: 15px;
            padding-left: 15px;
        }

        > p {
            line-height: 30px;
            @media all and (max-width:414px) {
                margin-left: -10px !important;
                padding-right: 20px;
            }

            > a {
                color: $color_cardinal_approx;
            }
        }
    }

    .blog-content::first-letter {
        margin-right: 5px;
        border-radius: 50%;
        font-size: 50px;
        font-weight: bold;
        line-height: 0.2;
    }

    .single-post-article {
        padding-left: 0;
        @media all and (max-width : 640px) {
            padding: 0;
        }
    }

    .post-title {
        color: $black;
        font-family: $secondary_font;
        font-size: 72px;
        line-height: 82px;
        padding-bottom: 20px;
        @media all and (max-width : 640px) {
            line-height: 38px;
            padding-left: 15px;
            color: $black;
            font-family: $secondary_font;
            font-size: 30px !important;
        }
        @media all and (max-width : 414px) {
            margin-top: 10px;
            padding-bottom: 30px;
            padding-right: 0;
            padding-left: 15px;
            color: $black;
            font-family: $secondary_font;
            font-size: 30px;
        }
        @media all and (min-device-width:400px) and (max-device-width : 414px) {
            margin-top: 10px;
            padding-bottom: 30px;
            padding-right: 15px;
            padding-left: 15px;
            color: $black;
            font-family: $secondary_font;
            font-size: 30px;
        }
        @media all and (max-width : 400px) {
            margin-top: 10px;
            padding-right: 0;
            padding-left: 15px;
            color: $black;
            font-family: $secondary_font;
            font-size: 30px;
        }
    }

    img {
        &.blog-post-p {
            margin-left: -15px;
            float: left;

            &:hover {
                animation-duration: 4000ms;
                animation-iteration-count: infinite;
                animation-name: spin;
                animation-timing-function: linear;
            }
            @media (min-width:320px) and (max-width:375px) {
                margin-left: 0 !important;
                width: 60px;
                margin-top: -15px !important;
            }
            @media (min-width:375px) and (max-width:400px) {
                margin-left: 0 !important;
            }
            @media (min-width:400px) and (max-width:414px) {
                margin-left: 0 !important;
                width: 60px;
                margin-top: -15px !important;
            }
            @media (min-width:414px) and (max-width:640px) {
                margin-left: 0 !important;
                width: 60px;
            }
        }
    }
}
//============ * SHARED ELEMENTS BETWEEN BLOG INDEX AND SINGLE POSTS * ============== //
.position {
    position: relative;
    color: $color_suva_gray_approx;
    font-size: 15px;
    @media (max-width:320px) {
        font-size: 13px;
    }
}
// share icon components

.share-text:hover {
    cursor: pointer;
}

.icon-share.blog-share {
    @media all and (max-width : 640px) {
        margin-top: 40px !important;
        margin-top: 40px;
        margin-left: 32px !important;
        color: $black;
        cursor: pointer;
    }
}

.blog-share-text {
    position: absolute;
    margin-top: 1.7px;
    margin-left: 5px;
    @media all and (max-width : 640px) {
        position: absolute;
        margin-top: 5px !important;
        font-family: $bold_font;
    }
}

.blog-share {
    margin-top: 40px !important;
    margin-left: 5px !important;
    color: $black;
    cursor: pointer;
}

article {
    &.blog-column {
        @media all and (max-width : 768px) {
            // height: 100%;
            // margin-right: 20px;
            // padding-left: 30px;
            display: inline-table;
            position: relative;
            height: 810px;
            margin-top: -50px;
            margin-right: 0;
            padding-left: 0;
        }
        @media all and (min-width : 400px) and (max-width : 668px) {
            height: 100%;
            margin-top: 20px !important;
            margin-right: 0 !important;
            padding-left: 15px;
        }

        > a > img {
            width: 95%;
        }
    }
}

img {
    &.phno-logo {
        width: 130px;
        float: left;
        @media screen and (max-width : 376px) {
            width: 90px;
            margin-left: 15px;
        }
        @media screen and (min-width:400px) and (max-width:414px) {
            margin-left: 25px;
            margin-top: 20px;
            width: 90px;
        }
        @media screen and (min-device-width:400px) and (max-device-width: 414px) {
            width: 90px !important;
            margin-left: 15px;
            margin-top: 20px;
        }
    }

    &.pheno-p {
        width: 61px;
        height: 61px;
        margin-right: 20px;
        border: none;
        border-color: $white;
        border-width: 0;
        // border-radius: 0%;
        // background: $pheno-p;
        background-color: transparent;
        background-repeat: no-repeat;
        @media (min-width:320px) and (max-width:375px) {
            margin-left: -10px !important;
        }
        @media all and (max-width : 640px) {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            margin-left: -40px;
            border: none;
            border-color: $white;
            border-width: 0;
            border-radius: 50%;
            // background: $pheno-p;
            background-color: transparent;
            background-repeat: no-repeat;
        }
    }
}

p {
    &.tagline {
        display: inline-flex;
        width: 460px;
        margin-top: 35px !important;
        margin-bottom: 0 !important;
        font-size: 13px;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2) {
            display: flex;
            width: 310px;
            margin-top: 10%;
            margin-left: 15%;
            padding-right: 10px;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 374px) and (min-device-width: 320px) {
            width: 190px !important;
            margin-top: 6% !important;
            margin-left: 5% !important;
            padding-bottom: 20px;
            padding-right: 10px;
        }
        @media only screen and (min-device-width : 374px) and (max-device-width : 400px) and (-webkit-min-device-pixel-ratio : 2) {
            display: flex;
            width: 180px;
            margin-top: 10%;
            margin-left: 5%;
            padding-right: 10px;
            line-height: 20px;
        }
        @media only screen and (min-device-width : 400px) and (max-device-width : 414px) {
            margin-left: -20px !important;
        }
        @media all and (min-width : 400px) and (max-width : 668px) {
            display: flex;
            width: 50% !important;
            margin-top: 10% !important;
            margin-left: 0;
            padding-right: 0 !important;
        }
        @media(min-device-width: 412px) and (max-device-width : 460px) and (-webkit-min-device-pixel-ratio : 2) {
            display: flex;
            width: 310px;
            margin-top: 10%;
            margin-right: 50px;
            margin-left: 15%;
            padding-right: 10px;
        }
    }

    &.tip {
        display: block;
        margin-top: 0 !important;
        margin-bottom: -26px !important;
        font-size: 13px;
        @media all and (min-width : 400px) and (max-width : 668px) {
            display: block;
            margin-bottom: -26px !important;
            margin-left: -2px !important;
        }
        @media (min-width:640px) {
            display: block;
            margin-top: -5px !important;
            margin-bottom: -26px !important;
            font-size: 13px;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 375px) and (min-device-width: 320px) {
            display: block;
            margin-top: -20px !important;
            margin-bottom: -26px !important;
            font-size: 13px;
            margin-left: 15px !important;
        }
        @media only screen and (min-device-width : 375px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            display: block;
            margin-top: -2px !important;
            margin-bottom: -26px;
            margin-left: 5% !important;
            font-size: 13px;
        }
        @media only screen and (min-device-width : 400px) and (max-device-width : 414px) {
            margin-left: -20px !important;
        }
    }

    &.readmore {
        color: $color_cardinal_approx;
        font-size: inherit;
        @media all and (max-width : 500px) {
            padding-left: 15px;
            color: $color_cardinal_approx;
            font-size: inherit;
        }
        @media (min-width:500px) and (max-width:768px) {
            margin: 0 0 20px 15px;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 375px) and (min-device-width: 320px) {
            padding-left: 20px !important;
        }
    }

    &.blog-preview {
        display: table-cell;
        width: 163%;
        margin: 10px 10px 0 !important;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 13px;
        line-height: 20px;
        @media all and (min-width : 400px) and (max-width : 668px) {
            padding-right: 65px !important;
            padding-left: 40px !important;
            font-size: 12px;
            line-height: 22px;
        }
        @media all and (max-width : 768px) {
            margin-bottom: 20px !important;
            padding-right: 65px;
            padding-left: 40px;
            line-height: 20px !important;
        }
    }
}

a {
    &.read-moreUrl.full-article-link {
        display: block;
        margin-top: 30px;
        margin-left: 20px;
        color: $color_monza_approx;
        text-decoration: none;
        font-size: 12px;
        @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            display: block;
            margin-top: 30px;
            margin-left: 25px;
            color: $color_monza_approx;
            text-decoration: none;
            font-size: 12px;
        }
        @media all and (min-width : 668px) and (max-width : 767px) {
            display: block;
            margin-top: 30px;
            margin-left: 25px;
            color: $color_monza_approx;
            text-decoration: none;
            font-size: 12px;
        }
        @media all and (min-width : 400px) and (max-width : 668px) {
            padding-left: 5px;
        }
    }
}

span {
    &.blog-title {
        display: flex;
        padding-top: 20px;
        padding-bottom: 16px;
        padding-left: 20px;
        color: $color_mine_shaft_approx;
        align-items: center;
        font-family: $secondary_font;
        font-size: 30px;
        justify-content: flex-start;
        @media all and (min-width : 400px) and (max-width : 668px) {
            display: flex;
            width: 90%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
            color: $color_mine_shaft_approx;
            align-items: center;
            font-family: $secondary_font;
            font-size: 30px;
            justify-content: flex-start;
        }
        @media all and (min-width : 668px) and (max-width : 768px) {
            padding-left: 40px;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 374px) and (min-device-width: 320px) {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
        @media (max-width: 664px) {
            padding-top: 20px;
            padding-bottom: 16px;
            padding-left: 30px;
        }
        @media all and (max-width: 500px) {
            padding-right: 20px !important;
            padding-left: 40px !important;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 374px) and (min-device-width: 320px) {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
        @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            padding: 20px 20px 16px 40px;
            align-items: center;
            font-size: 30px;
            justify-content: flex-start;
            display: flex;
        }
    }
}

section {
    &.blog-posts {
        @media all and (max-width : 768px) {
            display: block;
            margin-bottom: 100px;
            overflow: hidden;
        }
    }
}
// BLOG INDEX

.blog-container {
    .blog-author {
        margin-top: 15px;
        color: $black;
        font-family: $bold_font;
        font-size: 18px;
        position: relative;
        width: 100%;
        font-size: 20px;
        @media all and (max-width : 400px) {
            margin-top: 10px;
            color: $black;
            font-family: $bold_font;
            font-size: 18px;
        }
    }

    .position {
        position: relative;
        color: $color_suva_gray_approx;
        font-size: 15px;
        @media (max-width:320px) {
            font-size: 13px;
        }
    }

    .see-more {
        position: relative;
        width: 16%;
        height: 70px;
        margin: 0 auto;
        padding: 20px;
        color: $black;
        // background: $color_black_haze_approx;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        justify-content: center;
        @media all and (max-width : 768px) {
            position: relative;
            width: 32% !important;
            height: 70px;
            margin: 0 auto;
            padding: 20px;
            color: $black;
            // background: $color_black_haze_approx;
            text-align: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            justify-content: center;
        }
    }

    .page-divide.end-post {
        width: 106%;
        margin-top: 40px;
        margin-left: -20px;
        border-bottom: 1px solid $color_celeste_approx;
        @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            width: 80% !important;
            margin-top: 40px !important;
            margin-left: 10px !important;
            border-bottom: 1px solid #ccc;
        }
        @media all and (min-width : 668px) and (max-width : 767px) {
            width: 106%;
            margin-top: 40px;
            margin-left: -20px;
            border-bottom: 1px solid $color_celeste_approx;
        }
        @media (min-width:320px) and (max-width:375px) {
            width: 80% !important;
            margin-top: 40px !important;
            margin-left: 10px !important;
            border-bottom: 1px solid #ccc;
        }
        @media all and (min-width : 668px) and (max-width : 767px) {
            width: 106%;
            margin-top: 40px;
            margin-left: -20px;
            border-bottom: 1px solid $color_celeste_approx;
        }
        @media all and (min-width : 400px) and (max-width : 668px) {
            width: 80% !important;
            margin-top: 40px !important;
            margin-left: 10px !important;
            border-bottom: 1px solid #ccc;
        }
        @media(max-width: 664px) {
            width: 105%;
            margin-top: 40px;
            margin-left: -20px;
            border-bottom: 1px solid $color_celeste_approx;
        }
    }

    .author-container {
        display: flex;
        width: 105%;
        height: 95px;
        margin-top: 20px;
        margin-left: -20px;
        border-bottom: 5px solid $black;
        @media all and (max-width: 768px) {
            margin-bottom: 30px;
        }
        @media all and (min-width : 668px) and (max-width : 767px) {
            width: 106%;
            margin-bottom: 30px;
            margin-left: -20px;
        }
        @media all and (min-width : 1200px) {
            display: flex;
            width: 105%;
            height: 95px;
            margin-top: 20px;
            margin-left: -20px;
            border-bottom: 5px solid $black;
        }
        @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            display: flex;
            width: 80% !important;
            height: 95px;
            margin-top: 20px !important;
            margin-left: 10px !important;
            border-bottom: 5px solid black;
        }
        @media all and (min-width: 400px) and (max-width: 668px) {
            display: flex;
            width: 120%;
            height: 90px;
            margin-top: 20px;
            margin-left: -42px;
            padding-left: 41px;
            border-bottom: 5px solid $black;
        }
        @media all and (min-width : 400px) and (max-width : 668px) {
            display: flex;
            width: 80% !important;
            height: 95px;
            margin-top: 20px !important;
            margin-left: 10px !important;
            border-bottom: 5px solid black;
        }
        @media all and (min-width : 668px) and (max-width : 767px) {
            width: 106%;
            margin-bottom: 30px;
            margin-left: -20px;
        }
        @media only screen and (min-device-width : 374px) and (max-device-width : 470px) and (-webkit-min-device-pixel-ratio : 2) {
            display: flex;
            width: 80%;
            height: 95px;
            margin-top: 20px;
            margin-left: 10px;
            border-bottom: 5px solid $black;
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 374px) and (min-device-width: 320px) {
            display: flex;
            width: 80% !important;
            height: 95px;
            margin-top: 20px !important;
            margin-left: 10px !important;
            border-bottom: 5px solid black;
        }

        &.post-container {
            border-bottom: none !important;
        }
    }

    .blog-posts {
        display: table-cell;
        margin-bottom: 100px;
        overflow: hidden;
        @media all and (max-width : 768px) {
            display: block;
        }
    }

    .top-main {
        @media all and (min-width : 640px) and (max-width : 991px) {
            position: relative;
            margin-top: 121px;
            padding: 40px 0 70px;
            border-bottom: 1px solid $color_celeste_approx;
        }
    }
}

.pageDivide {
    width: 103.5%;
    color: $black;
    margin-bottom: 20px !important;
    margin-top: 40px !important;
    border-bottom: 1px solid $color_celeste_approx;
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 375px) and (min-device-width: 320px) {
        margin-top: 140px !important;
        margin-bottom: -20px !important;
    }
    @media (min-width:830px) and (max-width:831px) {
        margin-top: 70px !important;
    }
    @media (min-width:881px) and (max-width : 991px) {
        margin-top: 50px !important;
        margin-bottom: 0;
        margin-left: 30px !important;
        border-bottom: 1px solid #ccc;
    }
    @media all and (min-width : 640px) and (max-width : 768px) {
        margin-top: 240px !important;
        margin-bottom: 80px;
        margin-left: -30px !important;
        width: 120.5% !important;
        border-bottom: 1px solid #ccc;
    }
    @media all and (min-width : 746px) and (max-width : 860px) {
        margin-top: 117px !important;
        margin-bottom: 110px !important;
        border-bottom: 1px solid $color_celeste_approx;
    }
    @media all and (min-width : 768px) and (max-width : 880px) {
        margin-bottom: 100px !important;
        margin-left: -30px !important;
        border-bottom: 1px solid #ccc;
    }
    @media all and (min-width : 668px) and (max-width : 767px) {
        margin-top: 144px !important;
        margin-bottom: 80px !important;
        border-bottom: 1px solid $color_celeste_approx;
    }
    @media all and (min-width : 400px) and (max-width : 668px) {
        margin-top: 150px !important;
        margin-bottom: 0 !important;
        padding-bottom: 0;
        border-bottom: 1px solid #ccc;
    }
}
//// P ANIMATION ////
@-ms-keyframes spin {
    from {}

    to {}
}
@-moz-keyframes spin {
    from {}

    to {}
}
@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/blog.scss
