.home {
	margin-bottom: $base_spacing*2;
	.top-main {
		border-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		float: none;
		.col-md-6 {
			position: absolute;
			top: calc(50% - 100px);
			transform: translateY(-50%);
			//transition: all 0.3s;
			@media screen and (max-height: 700px) {
				top: 50%;
			}

			/* control word wrapping inside the col-md-6 on the home page */
			@media screen and (min-width: 1385px) {
				width: 55%;
			}
			@media screen and (min-width: 990px) {
				width:80%;
			}
		}
		p {
			font-size: 34px;
			font-family: 'TiemposHeadline-Regular';
			font-weight: normal;
			@media screen and (max-width: 640px) {
				font-size: 24px;
			}
		}
		h1 {
			text-indent: -9999em;
			position: absolute;
		}
		h2 {
			font-size: 62px;
	    line-height: 82px;
				@media screen and (max-width: 640px) {
				width: 510px;
				font-size: 52px;

			}

		}
		input {
			opacity: 0;
			position: absolute;
		}
		.icon-right-arrow {
			transform: rotate(90deg);
			display: inline-block;
			font-size: 32px;
			color: #ccc;
			margin-top: 50px !important;
			cursor: pointer;

			&:hover {
			color: #333;
			transition: .5s
			}
		}
	}
	cite {
		width: 100%;
	}
	#toggle-featured-contributors:checked ~ .featured-contributors {
		display: block;
	}

	.featured-contributors {
		box-sizing: border-box;
		text-align: center;
		background: #F2F2F2;
		padding: 0 $base_spacing $base_spacing;
		margin-top: $base_spacing;
		transition: all 1s;
		//transition-delay: 100s;
		position: relative;
		.col-md-4 {
			opacity: 0;
			transition: opacity 1s;
			a > div {
				transition: all 0.3s ease-in-out;
			}
			a:hover {
				> div {
					background-position: 0 100%;
				}

			}
		}
		&.show {
			.col-md-4 {
				opacity: 1;
				&:nth-of-type(1) {
					transition-delay: 0.5s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.9s;
				}
				&:nth-of-type(3) {
					transition-delay: 1.5s;
				}
			}
		}
		@media screen and (max-width: 640px) {
			padding: 0 30px;
		}
		.col-md-4 {
			width: calc(33.33333% - 40px);
			padding: 0;
			margin: 0 20px 60px 20px;
		}
		h6 {
			font-size: 15px;
			border-bottom: 1px solid #ccc;
			width: 30%;
			padding-bottom: $base_spacing - 40;
			margin: $base_spacing auto;
			font-family: $monospace_font;
		}
		img {
			width: 100px;
			display: inline-block;
			margin-bottom: 10px;
		}
		cite {
			border-bottom: 1px solid #ccc;
			padding-bottom: $base_spacing - 40;
			font-weight: normal;
			width: 223px;
			margin: 0 auto;
			@media screen and (max-width: 640px) {
				width: auto;
			}
			span {
				&:first-of-type {
					font-size: 18px;
					font-family: "Circular-bold";
				}
				&:last-of-type {
					opacity: 1;
					font-size: 14px;
				}
			}
		}
		p {
			font-size: 18px;
			font-family: 'Tiempose-Semibold';
		}
		li {
			margin-bottom: $base_spacing;
			padding: 0 $base_spacing;
			p {
				padding: $base_spacing - 40 0 0 0;
			}
		}
		a.red, .a.red, .link.red {
			font-weight: normal;
		}
		.see-more {
			position: relative;
			padding-bottom: $base_spacing;
			label {
				width: 200px; margin: 0 auto;
				display: block;
				margin-bottom: $base_spacing;
				top: 0;
				position: absolute;
				left: 50%;
				margin-left: -100px;
				font-family: "Circular-bold";
				font-weight: normal;
				cursor: pointer;
				&:after {
					content: "View more contributors"
				}
			}
			#toggle {
			  position:absolute;
			  appearance:none;
			  cursor:pointer;
			  opacity: 0;
			}

			#toggle ~ .see-more-container {
				max-height: 0;
				opacity: 0;
				transition: all 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
				overflow: hidden;
			}
			#toggle:checked ~ label {
				&:after {
					content: "View less contributors";
				}
				top: calc(100% - 60px);
			}
			#toggle:checked ~ .see-more-container {
				max-height: 700px;
				opacity: 1;
				@media screen and (max-width: 1024px) {
					max-height: 980px;
				}

			}
		}

	}
}

.indie-agency, .indie-minds {
	opacity: 0;
}



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/home.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/home.scss
