block variables
- copy = require('app/copy.js')
- page = "404"
- pageData = copy.content[page]

section.row.no-padding.culture
  .col-md-12.error-container.animated.lightSpeedIn
    .col-md-6.stuck-cont
      .stuck.animated.hinge You must be stuck.
      a(ui-sref="home")
        h4.red#getmeout Get me out of here >
    .col-md-6.elephant
      img(src=require('assets/images/elephant.png'), alt="alt")
