block variables
- copy = require('app/copy.js')
- page = "aetna-potential"
- pageData = copy.content[page]
- currentProjectIndex = 2
- title = "Aetna Brings Out Medicare's Potential"


include ./components/content-template.pug
