block variables
- copy = require('app/copy.js')
- page = "federer"
- pageData = copy.content[page]
- currentProjectIndex = 1
- title = 'From Federer By Federer.'


include ./components/content-template.pug
