block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.jobs
	.top-main.noLine
		article.col-md-5.col-sm-12
			figure.job-figure
				img(src=require('assets/images/jobs/peter.png'))
				figcaption
					h3.perks Perks That Work
					p.fig-p Sure, we&#39;ve got the comprehensive benefits package: medical, dental, vision, 401k with company match, etc. But we believe that a happier Pheno is a healthier one. That&#39;s why some perks mean staying away from the office when you need to. New parents are encouraged to rear the little one away from their desks up to 12 weeks paid. And even if not expecting, regular full-time Phenos can take advantage of an open Paid Time-Off policy. i.e., we&#39;ll help make the time when you need to take some time.
	ul
		article.col-md-7.jobs-header
			h2
				blockquote.jobs-blockquote!= pageData.blockquote
				.quoter-holder
					p.said-by &#8212;Amy Weisenbach&nbsp;
					p.company / VP Marketing, Wilson
		article.col-xs-8.col-sm-7.col-md-7.col-sm-offset-0.no-padding.jobs-container
				.department(ng-repeat="department in jobs.departments")
					.positions {{department.name}}
					hr
					li(ng-repeat="position in department.openPositions")
						a(ng-href="{{position.url}}") {{position.title}}
						.location {{position.location}}

	.apply-anyway-container.col-md-12.col-sm-12.col-xs-12
		img.pheno-p-jobs(src=require('assets/images/PLogo.png'))
		h3.apply-anyway-header Like what you see, but don't see what you like?
		p.drop-a-line If we don't have an open position that matches your skills and experience, drop us a line with your info anyway. Freelancers, too. We're always looking for smart brains, talented hands, and hungry hearts.
		a.sumbit-info(href='{{genericUrl}}') Submit your info >
