block variables
- copy = require('app/copy.js')
- page = "mens-wearhouse"
- pageData = copy.content[page]
- title = 'Men’s Wearhouse Updates Its Wardrobe.'
- currentProjectIndex = 4

include ./components/content-template.pug
