block variables
- copy = require('app/copy.js')
- page = "neustar"
- pageData = copy.content[page]
- currentProjectIndex = 0
- title = 'Neustar Helps Make Data Shine.'


include ./components/content-template.pug
