block variables
- copy = require('app/copy.js')
- page = "thanks"
- pageData = copy.content[page]

section.row.no-padding.culture.job-posting
section.row.no-padding.culture
  .col-md-12.error-container.animated.fadeInLeft
    .col-md-6.stuck-cont
      .thanks-message Thanks for your interest in joining Phenomenon. Someone&#39;s giving your application a once (and maybe twice and thrice) over.
      //- .thanks-message Keep being awesome.
      br
      a(ui-sref="careers")
        h4.red.backToCareers Back to Careers >
