block variables
- copy = require('app/copy.js')
- page = "think-thin"
- pageData = copy.content[page]
- currentProjectIndex = 5
- title = 'thinkThin Helps Women Shed the Guilt.'

include ./components/content-template.pug
