block variables
- copy = require('app/copy.js')
- page = "wilson-anthem"
- pageData = copy.content[page]
- currentProjectIndex = 3
- title = 'Wilson Equips Itself With Global Campaign.'

include ./components/content-template.pug
