block variables
- copy = require('app/copy.js')
- page = "wilson-x"
- pageData = copy.content[page]
- currentProjectIndex = 6
- title = 'Wilson Launches Futuristic Ball.'

include ./components/content-template.pug
